* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Quicksand", sans-serif;
}

button {
  width: 20.5rem;
  height: 10.5rem;
  border-radius: 1.5rem;
  border: none;
  font-size: 3.4rem;
}

header {
  width: 100%;
  height: 15rem;
  background-color: antiquewhite;
  margin-bottom: 2.5rem;
}
header h1 {
  text-align: center;
  font-size: 8rem;
  line-height: 6rem;
  padding: 5rem;
}

.container_global {
  display: grid;
  grid-template-columns: 33.3rem 242.3rem 105.3rem;
}
.container_global .container_asideGlobal {
  width: 30rem;
  height: auto;
}
.container_global .container_asideGlobal .container-category {
  display: grid;
  grid-template-columns: 32rem;
  grid-template-rows: repeat(8, 14rem);
  gap: 2rem;
  place-items: center;
}
.container_global .container_asideGlobal .container-category li {
  list-style: none;
  width: 28rem;
  margin-left: 8rem;
  margin-top: 8rem;
}
.container_global .container_asideGlobal .container-category li .category-ico {
  width: 10rem;
  height: 10rem;
}
.container_global .container_asideGlobal .container-category li h3 {
  font-size: 2.5rem;
  margin-right: 16rem;
  margin-left: 1rem;
}
.container_global section .carousel {
  width: 85%;
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: 50px;
}
.container_global section .carousel .carousel-row {
  display: flex;
  flex-wrap: wrap;
}
.container_global section .carousel .carousel-row .carousel-item {
  width: 20%;
  padding: 10px;
  text-align: center;
}
.container_global section .carousel .carousel-row .carousel-item img {
  max-width: 100%;
  width: 25rem;
  height: 20rem;
  margin-bottom: 10px;
}
.container_global section .carousel .carousel-row .carousel-item .item_title {
  font-size: 3rem;
}
.container_global section .carousel .carousel-row .carousel-item p {
  font-size: 2.5rem;
  margin-bottom: 3rem;
}
.container_global section .carousel .carousel-row .carousel-item .add-to-cart {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 10px;
  cursor: pointer;
}
.container_global .shopping-cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  border: 1px solid #ccc;
  padding: 1rem;
  max-width: 900px;
  width: 100%;
}
.container_global .shopping-cart h2 {
  font-size: 8rem;
}
.container_global .shopping-cart .shopping-info {
  display: grid;
  grid-template-columns: 4fr 1fr 1fr;
  justify-items: center;
  gap: 0rem;
}
.container_global .shopping-cart .cart-items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin-top: 5px;
  font-size: 3.5rem;
  padding: 7rem;
}
.container_global .shopping-cart .cart-items .cart-item {
  width: 40rem;
  display: flex;
  gap: 12rem;
  margin-bottom: 2rem;
}
.container_global .shopping-cart p {
  margin-right: 10rem;
  font-size: 18px;
  font-weight: bold;
  font-size: 4rem;
}
.container_global .shopping-cart p .cart-total {
  margin-top: 20px;
  font-size: 4rem;
}

/*# sourceMappingURL=index.css.map */
