* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Quicksand", sans-serif;
}

button {
    width: 20.5rem;
    height: 10.5rem;
    border-radius: 1.5rem;
    border: none;
    font-size: 3.4rem;
}
